@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500&display=swap");

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #282c35;
  color: #ffa7c4;
}

h1 {
  text-align: center;
  margin: 1em 0;
  font-size: 3rem;
}

main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "first first second second third third"
  "fourth fourth  fourth fifth fifth fifth";
  place-items: center;
  gap: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  border-radius: 10px;
  height: 220px;
  width: 400px;
  gap: 1em;
}
h2 {
  font-family: "raleway", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.card a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  border: 3px solid white;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  transition: 0.2s ease-in-out;
  font-size: 2rem;
}

a:hover {
  background-color: white;
  color: #ffa7c4;
}

.first-card {
    grid-area: first
}
.second-card {
    grid-area: second;
}
.third-card {
    grid-area: third;
}
.fourth-card {
    grid-area: fourth;
}
.fifth-card {
    grid-area: fifth;
}